nav{
    background-color: #344D67;
}

.img-logo{
    width: 200px;
    margin: 15px;
    position: relative;
    left: 5%;
}

ul{
    position: relative;
    right: 50%;
    margin: 0;
    padding: 0px;
    border: 0px;
    gap: 30px;    
  
}


.link-nav{
    color: #6ECCAF;
    font-family: "Raleway", serif;
    font-size: 20px;
    font-weight: 500;
    list-style: none;
   
}

.link-nav:hover{
    color: #344D67;
    background-color: #6ECCAF;
    padding: 5px;
}