.fondo-blanco{
       background-color: #ffffffe6
}

.row{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.btn{
    color: #6ECCAF;
    background-color: #344D67;
    font-weight: 500;
}

.btn:hover {
    color: #344D67;
    background-color: #6ECCAF;
    
}

.btn:active {
    color: #f8f8f8;
    background-color: #505050;
    
}


.container{
    max-width: 600px;
}