body{
    background-image: url(../src/Images/rickymorty.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    color: #344D67;
}
